@model EmployeeDirectory5.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fName" class="control-label"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhNo" class="control-label"></label>
                <input asp-for="PhNo" class="form-control" />
                <span asp-validation-for="PhNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grade" class="control-label"></label>
                <input asp-for="grade" class="form-control" />
                <span asp-validation-for="grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stream" class="control-label"></label>
                <input asp-for="stream" class="form-control" />
                <span asp-validation-for="stream" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technology" class="control-label"></label>
                <input asp-for="Technology" class="form-control" />
                <span asp-validation-for="Technology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="workManager" class="control-label"></label>
                <input asp-for="workManager" class="form-control" />
                <span asp-validation-for="workManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineManager" class="control-label"></label>
                <input asp-for="LineManager" class="form-control" />
                <span asp-validation-for="LineManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaOfIntestr" class="control-label"></label>
                <input asp-for="AreaOfIntestr" class="form-control" />
                <span asp-validation-for="AreaOfIntestr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
